/*@import url("../fontawesome/css/fontawesome.css");
@import url("../fontawesome/css/brands.css");
@import url("../fontawesome/css/solid.css");
@import url("../fontawesome/css/regular.min.css");
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.icon{
    font-size: 20px;
    cursor: pointer;
}
.main{
    display: flex;
    padding: 20px 0px ;
    gap:20px ; 
    justify-content: center;
    align-items: flex-start;
    
}
table {
    border-collapse: collapse; /* Fusionar bordes de celdas */
    border-radius: 5px;
    overflow: hidden; 
}

th {
    border: none; /* Eliminar el borde de las celdas th */
    padding: 8px; /* Agregar un espacio interno */
    text-align: left; /* Alinear el texto a la izquierda */
    background-color: #0168dd; /* Color de fondo */
    color: white ; 
}
td {
    border-right: 1px solid #dddddd; /* Agregar bordes a las celdas td */
    padding: 8px; /* Agregar un espacio interno */
    text-align: left; /* Alinear el texto a la izquierda */
}


/*=========Registro =)==========*/
.mainForm{
    display: grid;
    place-content: center;
    height: 100vh;
}
.formRegistro{
    display: flex;
    min-width: 200px;
    flex-direction: column;
    padding: 20px 15px;
    background: linear-gradient(46deg, rgb(58, 126, 126), rgb(10, 128, 197) ) ;
    border-radius: 6px ;
    color: white ; 
    align-items: flex-start
}
input:focus {
    outline: none; /* Elimina el borde al enfocar el input */
}
input{
    border-style: none;
    height: 20px;
    padding: 0 5px ;
    border-radius: 5px;
}
formRegistro input[type='text']{
    width: 100px;
}

.acciones{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center

}

.acciones a {
    color:white ; 
}

.acciones> input {
    margin-top:5px ;
    padding: 2px 10px ;
}

a{
    text-decoration: none;
}